#root,
#root-p {
	background-color: $bg;
	height: 100%;
}

img[lazy='error'] {
	background-color: $color-btn-bg;
}
.dot {
	background: $error;
}
.letter-spacing-1 {
	letter-spacing: 0.5px;
}
.warning {
	color: $main;
}

.bg-block-bg {
	background: $block-bg;
}
.bg-block-bg-2 {
	background: $block-bg-2;
}
.text-block-bg-2 {
	color: $block-bg-2;
}
button.sys-btn.bg-warning {
	color: $block-bg-2;
	background-color: $main;
}
.letter-spacing-1h5 {
	letter-spacing: 1.5px;
}

.question-mark {
	border: 2px solid $text-lowlight;
	color: $text-lowlight;
	border-radius: 50%;
	@apply flex items-center justify-center w-[20px] h-[20px] text-[14px] shrink-0;
}
.bg-bg {
	background: $bg;
}
.bg-color-bg {
	background-color: $bg;
}

.login-main {
	color: $login-main;
}
.login-white {
	color: $login-white;
}
.login-second {
	color: $login-second;
}

.text-second {
	color: $second;
}
.gray {
	color: $gray;
}
.text-lowlight {
	color: $text-lowlight;
}
.placeholder-color {
	color: $placeholder-color;
}
.error {
	color: $error;
}
.color-text {
	color: $text-base;
}
.color-text-white {
	color: $color-white;
}

.dark-bg-03 {
	background-color: $dark-bg-03;
}

.color-btn-main {
	color: $btn-main;
}

.text-home-white {
	color: $home-white !important;
}
.text-home-lowlight {
	color: $home-text-lowlight !important;
}
.bg-home-block-bg-2 {
	background: $home-block-bg-2 !important;
}

.border-radius {
	border-radius: $border-radius;
}
.border-game-radius {
	border-radius: $border-game-radius;
}

//定位居中
.position-center {
	@apply absolute left-[0] top-[0] bottom-[0] right-0 m-auto;
}

.overflow-touch {
	-webkit-overflow-scrolling: touch;
}

.sys-select i.white {
	color: $color-white;
}

select {
	color: $color-white;
}

// font-family: 'Gilroy-Bold', sans-serif;
// font-family: 'Gilroy-Heavy', sans-serif;
// font-family: 'Gilroy-Light', sans-serif;
// font-family: 'Gilroy-Medium', sans-serif;
// font-family: 'Gilroy-Regular', sans-serif;
.text-number {
	font-family: Gilroy;
}

.rewards-card {
	.rewards-card-content-wrap {
		background-color: $block-bg-2;
	}

	.rewards-card-icon-wrap {
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			filter: blur(8px);
			background: radial-gradient(circle, rgba(#fff, 0.67) 0%, rgba(#fff, 0.5) 10%, rgba(#fff, 0) 75%, rgba(#fff, 0) 100%);
		}
	}

	.text-error {
		color: $error;
	}
}
[class^='sysicon-'].font-bold,
[class*=' sysicon-'].font-bold {
	font-weight: 700;
}

[class^='sysicon-ic'],
[class*=' sysicon-ic'] {
	background: $placeholder-color;
	border-radius: 20%;
	@apply w-[1.92em] h-[1.92em] flex items-center justify-center;
	&::before {
		background: $icon-back;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		font-size: inherit;
	}
	&.active {
		background: $second;
		&::before {
			color: $color-white;
		}
	}
}
[class^='sysicon-ic'].bottom,
[class*=' sysicon-ic'].bottom {
	padding-top: 1px;
}
[class^='sysicon-ic'].top,
[class*=' sysicon-ic'].top {
	padding-bottom: 1px;
}

.game-cover {
	&::before {
		content: '';
		position: absolute;
		height: 0;
		width: 100%;
		padding-bottom: 100%;
	}
}

.app-slide-left-enter-active {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100vw;
	height: 100%;
	transition: transform 0.3s;
}

.app-slide-left-enter-from {
	transform: translate3d(0%, 0, 0);
}

.app-slide-left-enter-to {
	transform: translate3d(-100%, 0, 0);
}
.app-slide-left-leave-active {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100vw;
	height: 100%;
	transition: transform 0.3s;
}
.app-slide-left-leave-from {
	transform: translate3d(0%, 0, 0);
}
.app-slide-left-leave-to {
	transform: translate3d(-100%, 0, 0);
}

.app-slide-right-enter-active {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100vw;
	height: 100%;
	transition: transform 0.3s;
}

.app-slide-right-enter-from {
	transform: translate3d(-100%, 0, 0);
}
.app-slide-right-enter-to {
	transform: translate3d(0%, 0, 0);
}
.app-slide-right-leave-active {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100vw;
	height: 100%;
	transition: transform 0.3s;
}
.app-slide-right-leave-from {
	transform: translate3d(0%, 0, 0);
}
.app-slide-right-leave-to {
	transform: translate3d(100%, 0, 0);
}

//blaze bc都是隐藏的
.show-scroll-bar {
	:not(&)::-webkit-scrollbar {
		display: none;
	}
	&::-webkit-scrollbar {
		background: transparent;
		max-width: 4px;
		padding-right: 2px;
	}
	&::-webkit-scrollbar-thumb {
		background: $block-bg;
	}
}
.app-third {
	display: none;
	position: fixed;
	top: -500px;
	width: 100%;
	z-index: -1;
	height: 80px;
}

.third-login {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.telegram-node {
		position: relative;
		display: flex;
		height: 0;
		justify-content: center;
		.telegram-login {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			overflow: hidden;
			opacity: 0.00000001;
		}
	}
	.oneall-login {
		display: flex;
		justify-content: center;
		min-height: 0px !important;
		height: 50px;
		width: 100%;
	}
}
.sys-btn.game-load-more {
	background: $block-bg-2;
	color: $gray;
	border: none;
	height: 50px;
}

.text-login-text {
	color: $login-text;
}
.text-login-main {
	color: $login-main;
}

.lb-pull-refresh {
	overflow-y: auto!important;
}
.roulette-bonus-slide {
	height: 40px!important;
	width: 100%;
}
.modal-roulette-my-bonus {
	.roulette-bonus-slide:nth-child(odd) {
		background: $bg;
	}
}