.rewards-card {
	.rewards-card-content-wrap {
		background-color: $block-bg-2;
	}

	.rewards-card-icon-wrap {
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			filter: blur(8px);
			background: radial-gradient(circle, rgba(#fff, 0.67) 0%, rgba(#fff, 0.5) 10%, rgba(#fff, 0) 75%, rgba(#fff, 0) 100%);
		}
	}

	.text-error {
		color: $error;
	}
}