.navigation-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: zIndex('navigationOverlay');
	background: rgba(0, 0, 0, 0.7);
	transition: 0.3s;
	pointer-events: none;
	&.active {
		pointer-events: auto;
	}
}
.navigation-pc {
	position: fixed;
	top: 0;
	left: 0;
	z-index: zIndex('navigation');
	width: 100%;
	height: 100%;
	pointer-events: none;

	.navigation-dot {
		@apply absolute left-[38px] top-[11px];
	}
	&::after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 64px;
		height: 100%;
		background-color: $bg;
		box-shadow: -12px 0 24px #000000;
		z-index: -1;
	}
	&.active {
		pointer-events: auto;
		width: 320px;
		.navigation-header {
			width: 320px;
			justify-content: flex-end;
			.sys-menu {
				justify-content: space-between;
				align-items: center;
			}
		}
		.navigation-body {
			width: 100%;
			height: calc(100% - 60px);
			overflow: hidden;
			.navigation-group-wrap {
				display: flex;
				flex-direction: column;
				padding: 0 36px 16px 16px;
				width: calc(100% + 20px);
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;
			}
			.navigation-group {
				margin-bottom: 12px;
				height: auto;
				padding: 6px 0px;
				background: $block-bg-2;
				border-radius: $border-radius;
			}
			.navigation-item {
				justify-content: flex-start;
				width: 100%;
				padding: 12px 16px;
				cursor: pointer;
				.navigation-icon {
					font-size: 20px;
					margin-right: 12px;
					&.flag {
						display: block;
						width: 30px;
					}
				}

				&.current {
					.navigation-text,
					.navigation-icon {
						color: $second;
					}
				}
				.navigation-dot {
					@apply absolute left-[32px] top-[12px];
				}
				&:hover {
					position: relative;
					background-color: $block-bg;
					.hover-box {
						position: absolute;
						display: block;
						left: calc(100% + 16px);
						padding: 8px 16px;
						border-radius: $border-radius;
						background-color: $block-bg;
						white-space: nowrap;
						&::before {
							content: '';
							display: block;
							position: absolute;
							width: 16px;
							height: 16px;
							top: 50%;
							left: -8px;
							background-color: $block-bg;
							transform: rotate(45deg) translateY(-50%);
							z-index: -1;
						}
					}
				}
			}
			.navigation-sub-group {
				height: 0;
				overflow: hidden;
				.navigation-item {
					color: $gray;
				}
			}
			.navigation-sub-toggle {
				.toggle-arrow {
					margin-left: auto;
				}
				&.active {
					.toggle-arrow {
						transform: scaleY(-1);
					}
					& + .navigation-sub-group {
						height: auto;
					}
				}
			}
			.navigation-lang {
				position: relative;
				.lang-select {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					option {
						color: $text-lowlight;
					}
				}
			}
		}
		&::after {
			width: 320px;
		}
	}
	.logo {
		height: 50px;
	}
	.navigation-header {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 64px;
		height: 60px;
		padding: 0 16px;
		pointer-events: auto;
		cursor: pointer;

		.btn-close {
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			color: $color-white;
		}
	}
	.navigation-body {
		// width: 100%;
		height: calc(100% - 60px);
		overflow: visible;
		.navigation-group-wrap {
			display: flex;
			flex-direction: column;
			height: 100%;
			overflow-x: visible;
			overflow-y: auto;
		}
		.navigation-group {
			margin-bottom: 12px;
			height: auto;
			border-radius: $border-radius;
			// margin-bottom: 12px;
			// height: auto;
			// padding: 6px 0px;
			// background: $block-bg-2;
			// border-radius: $border-radius;
		}
		.navigation-item {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 64px;
			padding: 12px 0;
			color: $text-base;
			font-size: 14px;
			pointer-events: auto;
			cursor: pointer;
			.navigation-icon {
				font-size: 20px;
				color: $text-lowlight;
				&.flag {
					display: block;
					width: 30px;
				}
			}

			.navigation-text {
				font-weight: 400;
				height: 21px;
				// line-height: 21px;
				color: $text-lowlight;
			}
			.hover-box {
				display: none;
			}
			&.current {
				.navigation-text,
				.navigation-icon {
					color: $second;
				}
			}
			&:hover {
				position: relative;
				background-color: $block-bg;
				.hover-box {
					position: absolute;
					display: block;
					left: calc(100% + 16px);
					padding: 8px 16px;
					border-radius: $border-radius;
					background-color: $block-bg;
					white-space: nowrap;
					&::before {
						content: '';
						display: block;
						position: absolute;
						width: 16px;
						height: 16px;
						top: 50%;
						left: -8px;
						background-color: $block-bg;
						transform: rotate(45deg) translateY(-50%);
						z-index: -1;
					}
				}
			}
		}
		.navigation-sub-group {
			height: 0;
			overflow: hidden;
			.navigation-item {
				color: $gray;
				.navigation-item.current {
					&.current {
						.navigation-text,
						.navigation-icon {
							color: $second;
						}
					}
				}
			}
		}
		.navigation-sub-toggle {
			.toggle-arrow {
				margin-left: auto;
			}
			&.active {
				.toggle-arrow {
					transform: scaleY(-1);
				}
				& + .navigation-sub-group {
					height: auto;
				}
			}
		}
		.navigation-lang {
			position: relative;
			.lang-select {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				option {
					color: $text-lowlight;
				}
			}
		}
	}
}
